html{
font-family: helvetica;
text-align: center;
}

head{
  font-weight:bold;
}

h1{
font-size: 70px;
color:white;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 23px;
}

p{
  font-size: 14px;
}

.header{
font-size: 18px
color: white;
background-image:url(./images/the-flatiron-building.png);
}

h2.header{
  color: white;
}

.header a{
  color: white;
}
