*{
font-family: helvetica;
text-align: center;
}

h1, h2, h3, h4{
  font-weight:bold;
}

h1{
font-size: 70px;
}

h2{
  font-size: 32px;
}

h3{
  font-size: 23px;
}

p{
  font-size: 14px;
}

a{
  font-size: 18px;
}

.header a{
  color: white;
}

.header
{
color: white;
background-image:url(./images/the-flatiron-building.png);
}


.footer p{
  font-size: 11px;
}


.footer *{
background-color: dimgray;
text-align: left;
color: white;
}
